<!DOCTYPE html>

<html>

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/reset.css">
    <link rel="stylesheet" href="../../styles/base.css">

  </head>

  <body>

    <header>

      <h1>Guess the Answer</h1>

    </header>

    <main>

      <h2 class="remove"> Please Choose a Scenario: </h2>

      <form action="/" method="POST" id="scenario" class="remove">

        <div id="scenario-1">
          <input type="radio" id="scenario1" name="scenario" value="scenario-one">
          <label for="scenario-one">Scenario One</label>
        </div>

        <div id="scenario-2">
          <input type="radio" id="scenario2" name="scenario" value="scenario-two">
          <label for="scenario-two">Scenario Two</label>
        </div>

        <div id="scenario-submit">
          <input type="submit" value="Submit">
        </div>

      </form>

    </main>

    <footer>

    </footer>

    <script src="app.js"></script>

  </body>

</html>